@model IEnumerable<Manager.ViewModel.Category.CategoryDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<ul style="list-style-type: none;  padding: 0;">
    <li class="div-cate">
        <a href="@Url.Action("Index","Home")">Tất cả</a>
    </li>
    @{
        foreach (var item in Model)
        {

            <li class="div-cate">
                @Html.ActionLink(item.NAME, "Index", "Home", new { loai = item.NAME.Trim() }, "")
            </li>

        }
    }
</ul>